body {
  background: #0e1733;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

/* Contains all screen elements */
.screen-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


/* div for containing score elements */
.col-1 {
  position: absolute;
  left: 0vw;
  top: 60vh;
  width: calc(50vw - 241px);
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 16vh;
  height: 80vh;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;
}

/* Score text */
.score-outer-container > p {
  padding-bottom: 15px;
}

/* contains inner score block */
.score-inner-container {
  width: 16vw;
  background-color: black;
  border: solid .1em #fff;
}

/* grabbing levels div */
.score-outer-container:nth-of-type(2) {
  position: relative;
  top: 30px;
}

/* copyright holder */
.copyright-container {
  font-size: 0.4em;
  color: #ababab;
  text-shadow: 2px 5px 6px black;
}


/* contains logo and game canvas */
.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35.6vw;
  max-width: 482px;
}

@media only screen and (max-width: 1440px) {
  .col-2 {
    width: 364px;
  }
}

.logo-img {
  height: 15.6vh;
}
  
canvas {
  border: solid .2em #fff;
  height: 80vh;
  position: relative;
  top: -3vh;
}


/* column for instructions and links */

.col-3 {
  position: absolute;
  right: 0vw;
  top: 16vh;
  width: calc(50vw - 241px);
  display: flex;
  justify-content: center;
}

.instructions-container {
  font-size: 2.7vh;
  font-family: 'Orbitron', sans-serif;
  padding-left: 18px;
  max-width: 300px;
  border: 5px solid white;
  border-radius: 8px;
  padding-top: 11px;
  margin-left: 14px;
  background: #4c4b4b;
}

@media only screen and (max-width: 1440px) {
  .instructions-container {
    height: 78vh;
  }
}

.instructions-container > p:first-of-type  {
  font-weight: 700;
  text-align: left;
  padding-left: 9px;
  padding-bottom: 30px;
}

.instructions-container > p {
  padding-bottom: 20px;
}

/* holds all arrow keys */
.up-down-left-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
}

/* border around keys */
.key-container {
  height: 3.3vw;
  width: 3.3vw;
  border: 3px solid white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  max-width: 44px;
  max-height: 44px;
  box-shadow:  2px 5px 6px 0px black;
  background-color: #383636;
}

/* holds bottom arrow keys */
.bottom-keys {
  display: flex;
}

.fas {
  font-size: 1.4vw;
}


/* section for q and w key instructions */
.q-w-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 55px;
}

.top-key2 {
  display: flex;
}

.top-key2 div:first-of-type {
  margin-right: 15px;
}

/* section for p key instructions */
.p-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 55px;
}

@media only screen and (max-width: 1440px) {
  .p-key {
    padding-bottom : 0;
  }
}



/* links container */ 
.link-inner-container {
  padding-bottom: 12px;
  font-size: 0.8em;
}

.link-inner-container > a {
  text-decoration: none;
  color: #ababab;
  transition: color 0.25s;
  text-shadow: 2px 5px 6px black;
}

.link-inner-container > a:hover {
  color: #4c4b4b;
}

.link-inner-container i {
  padding-right: 10px;
}


/* pause image */
.pause-img {
  opacity: 1;
  height: 3em;
  position: absolute;
  top: 48vh;
  transition: opacity 0.25s, height 0.15s;
  font-family: 'Orbitron', sans-serif;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pause-img-hidden {
  opacity: 0;
  height: 2.8em;
  position: absolute;
  top: 48vh;
  transition: opacity 0.15s, height 0.15s;
  font-family: 'Orbitron', sans-serif;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}